body {
    background-color: black;
    margin: 0px;
}

#nav {
    height: 6vh;     
    display: flex;
    align-items: center;
}
.search{
    background-color: rgb(31, 31, 31);
    border: 1px;
    width: 30%;
    height: 50%;
    border-radius: 20px;
}
.search:hover{
    border: 1px solid gray;
}
.src{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 8px;
}
.home{
    border-radius: 25px;
    height: 28.63px;
    width: 28.63px;
    background-color: rgb(31, 31, 31);
    color: rgb(116,117,116);

}
nav p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;    
    margin-bottom: 24px;
    margin-left: 6px;
}

main {
    display: flex;
    height: 86vh;
    gap: 2px;

}

#libmain {
    width: 18%;
    background-color: rgb(31, 31, 31);
    border-radius: 2px;
}
#player{
    height: 100%;
    width: 15%;
    background-color: rgb(31, 31, 31);
}
#lib {
    width: 100%;
    height: 92%;
}
#libnav {
    height: 8%;
    width: 100%;
}
/* #musics{
    height: 100%;
    background-color: blue;
} */
#main{
    color: white;
    width: 77%;
    background-color: rgb(31, 31, 31);
    border-radius: 2px;
}