body {
    background-color: black;
    margin: 0px;
}

#nav {
    height: 6vh;
    border: 1px solid white;
    display: flex;
    align-items: center;
}
nav p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;    
    margin-bottom: 24px;
    margin-left: 6px;
}

main {
    display: flex;
    border: 1px solid white;
    height: 86vh;

}

#libmain {
    margin: 3px;
    width: 18%;


}
#player{
    margin-left: 70vw;
    border: 1px solid white;
    height: 100%;
    width: 15%;
    background-color: rgb(31, 31, 31);
}
#lib {
    background-color: rgb(31, 31, 31);
    width: 100%;
    height: 92%;
    border: 1px solid rgb(54, 54, 54);

}

#libnav {
    height: 8%;
    background-color: rgb(31, 31, 31);
    width: 100%;
    border: 1px solid rgb(48, 48, 48);
}
/* #musics{
    height: 100%;
    background-color: blue;
} */